<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

 ## Exercise 3
 ### In this notebook, Data Science Tools and Ecosystem are summarized.

## Exercise 4 - Create a markdown cell to list data science languages


 Some of the popular languages that Data Scientists use are: 

1. Python
2. R
3. SQL
4. Julia
5. Scala

## Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

## Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Spyder              |

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

## Exercise 8 - Create a code cell to multiply and add numbers

In [15]:
# This is a simple arithmetic expression to multiply then add integers.

result = (3 * 4) + 5
result

17

## Exercise 9 - Create a code cell to convert minutes to hours

In [16]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science
- Introduce common libraries used in Data Science
- Present open-source tools for Data Science development environments
- Provide examples of evaluating arithmetic expressions in Python
- Demonstrate conversion of units in Python (e.g., minutes to hours)

## Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Lakshmi Sri Amulya Vasireddy